projects/bare-minimum-gradle/.gradle/
projects/bare-minimum-gradle/.idea/
projects/bare-minimum-gradle/gradle/wrapper/gradle-wrapper.jar
projects/gradle-with-groovy-examples/.gradle/
projects/gradle-with-groovy-examples/.idea/
projects/gradle-with-groovy-examples/gradle/wrapper/gradle-wrapper.jar
projects/skeleton-gradle-non-kotlin/.gradle/
projects/skeleton-gradle-non-kotlin/.idea/
projects/skeleton-gradle-non-kotlin/gradle/wrapper/gradle-wrapper.jar
projects/gradle-java-console-app/.gradle/
projects/gradle-java-console-app/.idea/
projects/gradle-java-console-app/build/
projects/gradle-java-console-app/gradle/wrapper/gradle-wrapper.jar
projects/gradle-java-web-app/.idea/
projects/gradle-java-web-app/.gradle/
projects/gradle-java-web-app/build/
projects/gradle-multi-project-app-alpha/.gradle/
projects/gradle-multi-project-app-alpha/.idea/
projects/gradle-multi-project-app-alpha/picker-number-app-1/build/
projects/gradle-multi-project-app-alpha/plus-plus/build/
projects/gradle-multi-project-app-alpha/random-number-gen-1/build/
